<head>
    <link rel="stylesheet" href="style2">
    <link rel="stylesheet" href="./style2.css">
</head>


<div class="text-wrapper">
    <div class="title" data-content="404">
        403 - ACCÈS REFUSÉ
    </div>

    <div class="subtitle">
        Oops, Vous n'avez pas la permission d'accéder à cette page.
    </div>
    <div class="isi">
        Un serveur web peut renvoyer un code d'état HTTP 403 Forbidden en réponse à une demande de page web ou de ressource émanant d'un client, afin d'indiquer que le serveur est joignable et qu'il a compris la demande, mais qu'il refuse de prendre d'autres mesures. Les réponses au code d'état 403 sont le résultat de la configuration du serveur web qui refuse, pour une raison quelconque, l'accès à la ressource demandée par le client.
         </div>

    <div class="buttons">
        <a class="button" href="http://localhost:3030">Aller à la page d'accueil</a>
    </div>
</div>