<html>

<head>
    <title>SIO CHAT</title>
    <link rel="stylesheet" href="style">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <input type="hidden" id="current-salon" value="salon"> <!-- Champ caché qui stocke le nom du salon actuel -->
    <div class="all">
        <section class="sectioncontact">
            <span id="unread-count"></span> <!-- Nombre de messages non lus -->
            <ul class="container">
                <a href="#" onclick="salon('salon')">Salon</a> <!-- Bouton pour accéder au salon principal -->
                <li id="user-list" class="contact"></li> <!-- Liste des utilisateurs connectés -->
            </ul>
        </section>
        <section class="sectionmessage">
            <div id="message-container" class="message"></div> <!-- Conteneur des messages du salon principal -->
            <div id="message-privee" class="messageprivee"></div> <!-- Conteneur des messages privés -->
            <div class="barmessage">
                <form id="form" action="" class="input">
                    <div class="demo-flex-spacer"></div>
                    <div class="webflow-style-input">
                        <input id="input" type="input" placeholder="Message"></input> <!-- Champ pour taper un message -->
                        <button id="input" type="submit"><i class="icon ion-android-arrow-forward"></i></button> <!-- Bouton pour envoyer le message -->
                </div>
                </form>
            </div>
        </section>
    </div>
    <script src="socket.io/socket.io.js"></script> <!-- Lien vers la bibliothèque socket.io pour la communication temps réel -->
    <script src="script"></script> <!-- Lien vers le script principal -->
</body>

</html>

