<html>

<head>
    <title>SIO CHAT</title>
    <link rel="stylesheet" href="style">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
    <link rel="stylesheet" href="./style.css">
</head>

<body onload="salon('salon')">
    <div class="all">
        <section class="sectioncontact">
            <ul class="container">
                <a href="#" onclick="salon('salon')">Salon</a>
                <li id="user-list" class="contact"></li>
            </ul>
        </section>
        <section class="sectionmessage">
            <div id="message-container" class="message"></div>
            <div class="barmessage">
                <form id="form" action="" class="input">
                    <div class="demo-flex-spacer"></div>
                    <div class="webflow-style-input">
                        <input id="input" type="input" placeholder="Message"></input>
                        <button id="input" type="submit"><i class="icon ion-android-arrow-forward"></i></button>
                </div>
                </form>
            </div>
        </section>
    </div>
    <script src="socket.io/socket.io.js"></script>
    <script src="script"></script>
</body>

</html>