<!doctype html>
<html lang="en">
<head>
    <title>SIO CHAT</title>
    <link rel="stylesheet" href="style3">
    <link rel="stylesheet" href="./style3.css">
  
</head>
<body>
  <div class="login-box"> <!-- Div qui contient le formulaire de connexion -->
    <h2>SIO CHAT</h2> <!-- Titre principal de la page -->
    <form action="/login" method="post"> <!-- Formulaire de connexion qui envoie les données vers "/login" en utilisant la méthode HTTP POST -->
      <div class="user-box">
        <input type="text" id="username" name="username" required=""> <!-- Champ pour le nom d'utilisateur avec une étiquette pour le label et l'attribut required pour obliger l'utilisateur à saisir une valeur -->
        <label for="username">Pseudo</label> <!-- Étiquette pour le champ de nom d'utilisateur -->
      </div>
      <div class="user-box">
        <input type="password" id="password" name="password" required=""> <!-- Champ pour le mot de passe avec une étiquette pour le label et l'attribut required pour obliger l'utilisateur à saisir une valeur -->
        <label for="password">Mot de passe</label> <!-- Étiquette pour le champ de mot de passe -->
      </div>
      <button type="submit"> <!-- Bouton de soumission du formulaire -->
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Envoyer <!-- Texte affiché dans le bouton de soumission -->
      </button>
    </form>
  </div>
</body>
</html>